.logo {
  width: 140px;
  height: 140px;
}

.logo_col {
  display: flex;
  justify-content: center;
}

.bucket_logo {
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
}

.menuHover:hover .dropdown-menu {
  display: block;
}

.customNavDropdown .dropdown-toggle::after {
  display: none;
}
