.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.logo_col {
  display: flex;
  justify-content: center;
}

.bucket_logo {
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
}

.menuHover:hover .dropdown-menu {
  display: block;
}

.navbarColor {
  background-color: #cd567d !important;
}

.navbarFont {
  font-size: 30px;
  color: white !important;
}
